name: Docker Image CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Build and cheat
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: |
          gpg --import  <(echo "${PRIVATE_KEY}")
          sudo apt-get update && sudo apt-get install git-secret
          git secret reveal
          chmod +x cheat.sh
          ./cheat.sh

      - name: Docker login
        env:
          docker_username: ${{ secrets.docker_username }}
          docker_password: ${{ secrets.docker_password }}
        run: docker login  -u $docker_username -p ${docker_password}

      - name: Tag
        run: docker tag chrisns/docker-devtest:latest chrisns/docker-devtest:${GITHUB_SHA}

      - name: Push latest
        if: github.ref == 'refs/heads/master'
        run: docker push chrisns/docker-devtest:latest

      - name: Push sha
        run: docker push chrisns/docker-devtest:${GITHUB_SHA}
